<div class="container">
  <br>
  <div class="pull-right mainTitle">
    <h2>Scrape the Onion!</h2>
  </div>
  <button class="scrape btn btn-danger">Get New Articles!</button>
  <button class="savedArticles btn btn-success">See Saved Articles!</button>
  <button class="purgeDatabase btn btn-warning">Kill the Database!</button>
  <br><br><BR><BR><BR>
  {{#each articles}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a target="_blank" href="{{this.link}}">{{this.title}}</a></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-9">
            {{this.summary}}
          </div>
          <div class="col-md-3  text-center">
            <button class="saveArticle btn btn-success" data-id="{{this._id}}">Save Article</button>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<!-- How Display Modal -->
<div class="modal fade" id="displayModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center"><span class="title"></span></h2>
      </div>
      <div class="modal-body">
        <h4 class="text-center body"></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->