<div class="container">
  {{#each results}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="{{this.article.link}}">{{this.article.title}}</a></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-9">
            {{this.article.summary}}
          </div>
          <div class="col-md-3 text-center">
            <button class="seeNotes btn btn-success" data-id="{{this._id}}">See notes</button>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>



<!-- How Display Modal -->
<div class="modal fade" id="displayModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center"><span class="title"></span></h2>
      </div>
      <div class="modal-body">
        <h4 class="text-center body"></h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->